.sectionHead{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

.sectionHead span{
    color: var(--color-primary);
    border-radius: 1rem;
    border: 0.1px solid var(--color-primary);
    padding: 0.6rem;
}

/* Media queries (medium screen) */
@media screen and(max-width:1024px){
}