/* Add these styles to your existing CSS file */

/* Search container start */
.tagLine{
  font-size: 1.2rem;
  margin-top: 4rem;
  font-weight: 500;
  font-family: sans-serif;
}

.law{
  color: var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 800px;
  /* margin-top: 4rem; */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.SearchName,
.searchSelect {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 15px 10px;
  width: 25rem;
  flex: 1;
  border-radius: 6px;
  background: var(--color-fourth);
  margin-right: 10px;
}

.SearchName::placeholder,
.searchSelect::placeholder {
  color: #a8a8a8;
  font-weight: 300;
}

.btn {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-secondary);
}



/* Result container with a Glassmorphism effect */
.resultContainer {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 98%;
}

.resultTitle {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 700;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.searchTerm {
  margin: 1rem 0;
  color: var(--color-secondary);
  font-weight: 500;
}

/* Modern Table styles */
.tableHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  transition: background 0.3s ease;
  color: white;
  background: var(--color-primary);
  font-weight: bold;
}

.tableContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tableColumn {
  flex-basis: calc(12% - 12px);
  text-align: left;
  padding: 1rem;
}

/* Styling for Case Number */
.caseNo {
  background-color: var(--color-secondary);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

.tableRow:hover {
  background-color: #f4f4f4; /* Light gray background on hover */
}

.tableDataLink {
  text-decoration: none;
  width: 15rem;
  color: var(--color-primary);
  /* color: var(--color-fourth); */
  transition: color 0.3s ease;
}

.tableDataLink:hover {
  color: var(--color-secondary); 
}

/* Chart container with a modern look */
.chartContainer {
  margin-top: 2rem;
  width: 1rem;
  text-align: center;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pieChart canvas{ 
  height: 40%;
  width: 40%;
}

.chartContainer h4 {
  margin-bottom: 1rem;
  color: var(--color-text);
  font-weight: 500;
  font-size: 1.4rem;
}

/* Additional Styles for Card */
.card {
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  transition: transform 0.2s ease;
  /* background-color: var(--color-fourth); */
}

.card:hover {
  transform: translateY(-5px); 
  background-color: var(--color-fourth);

}

/* Additional Styles for Chart */
.chartContainer .react-doughnut-chart {
  width: 100%;
  height: 100%;
}

.suggestionContainer {
  position: absolute;
  max-height: 200px;
  width: 25rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.suggestion:hover {
  background-color: #f2f2f2;
}
@media (max-width: 800px) {
  .searchContainer {
    flex-direction: column;
    padding: 15px;
    align-items: stretch;
  }
  .tableHeader{
    display: none;
  }

  .SearchName,
  .searchSelect,
  .btn {
    width: 100%;
    margin: 5px 0; 
  }

  .suggestionContainer {
    width: calc(100% - 32px); 
    left: 16px; 
  }

  .tableContainer {
    flex-direction: column-reverse;
  }

  .tableHeader,
  .tableColumn {
    flex-basis: 100%; 
  }

  .chartContainer {
    /* flex-basis: 100%; */
    width: 80%;
    height: 80%;
  }
  .tagLine{
    text-align: center;
  }
  
}

/* Further adjustments for even smaller screens */
@media (max-width: 600px) {
  .resultContainer,
  .resultTitle,
  .searchTerm {
    padding: 1rem;
    font-size: 1.2rem;
  }
  
}
