
.container {
    width: 900px; 
    height: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 5px;
    margin-bottom: 40px;
    background-color: #f7f7f7;
    margin-top: 40px;
  }
  .Heading{
    text-align: center;
    color: var(--color-primary);
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;  
    
  }
  .row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;  
    
  }
  .column {
    display: flex;
    flex-direction: column;
    
  }
  .columnAp {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
  }
  .columnAlert {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    
  }
  .columnDoc {
    display: flex;
    flex-direction: column;
    margin-left: 22%;
  }
  .columnTeam {
    display: flex;
    flex-direction: column;
    margin-left: 34%;
    
  }
  .label {
    
    color: var(--color-secondary);
  }
  .labelCaveat2{
   
    color: var(--color-secondary);
    margin-left: 50%;
  }
  .labelManage{
     
    color: var(--color-secondary);
    margin-left: 55%;
  }
  .labelNotes{
   
    color: var(--color-secondary);
    margin-left: 103%;
  }
  .labelTeam{
    
   
    color: var(--color-secondary);
    
  }
  .labelln{
    margin-left: 50%;
  
    color: var(--color-secondary);
    
  }
  .labelei{
    margin-left: 50%;
    
    color: var(--color-secondary);
    
  }
  .input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
  }
  .inputDate {
    width: 136%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
  }
  .inputTitle {
    width: 180%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 30px;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
  }
  .inputCaveat1 {
    width: 190%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
  }
  .inputCaveat2 {
    width: 110%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    margin-left: 200px;
    
  }
  .inputopn {
    width: 190%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
    
  }
  .inputln {
    width: 110%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    margin-left: 205px;
    
  }
  .inputmn {
    width: 189.5%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
    
  }
  .inputei {
    width: 110%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    margin-left: 205px;
    
  }
  
  
  /* Radio Group (for Case Type) */
  .radioGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
    
    
  }
  
  .radio {
    margin-left: 10px;
    appearance: none;
    border: 1px solid #ccc; /* Border color for the radio button */
  border-radius: 60%; /* Makes the radio button round */
  outline: none;
  width: 15px; /* Adjust as needed for the size of the radio button */
  height: 15px;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
 
    
  }
  .radio:checked {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
   
 
    
  }
  
  .select {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
  }
  .selectClient {
    width: 330%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
  }
  .selectTeam {
    width: 320%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
  }
  .selectPa {
    width: 109%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    
  }
  .selectManage {
    width: 445%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    margin-left: 50%;
    
  }
  .selectCaseStatus {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
  }
  .selectCd {
    width: 45.5%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
  }
  /* Textarea */
  .textarea {
    width: 192%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    height: 100px;
    font-size: 16px;
  }
  .textareaNotes {
    width: 220%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    border-radius: 4px;
    font-size: 16px;
    height: 100px;
    margin-left: 100%;
  }
  
  /* Error Messages */
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Submit Button */
  .submitButton {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: inset 0px 0px 6px 0px ;
  }
  .submitButton:hover {
    background-color: var(--color-fourth); 
    color: var(--color-primary);
    transform: scale(1.05); 
    box-shadow: inset 0px 0px 6px 0px var(--color-primary);
  }
  
  /* Heading */
  .heading {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: var(--color-primary);
  }
  
  /* NavLink */
  .link{
    color: var(--color-primary);
    
  }
  .link:hover {
    text-decoration: underline;
  }
  .linkTeam{
    
    color: var(--color-primary);
    

    
  }
  .linkTeam:hover {
    text-decoration: underline;
  }
  .linkClient{
    color: var(--color-primary);
    
  }
  .linkClient:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {

    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 5px;
      margin-bottom: 40px;
      background-color: #f7f7f7;
      margin-top: 40px;
    }
    .form {
      display: flex;
      flex-direction: column;
    }
    .row {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;  
      
    }
    .column {
      display: flex;
      flex-direction: column;
      
    }
    .columnAp {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      
    }
    .columnAlert {
      display: flex;
      flex-direction: column;
      margin-left: 22%;
      
    }
    .columnDoc {
      display: flex;
      flex-direction: column;
      margin-left: 22%;
    }
    .columnTeam {
      display: flex;
      flex-direction: column;
      margin-left: 34%;
      
    }
    .label {
      
      color: var(--color-secondary);
    }
    .labelCaveat2{
     
      color: var(--color-secondary);
      margin-left: 50%;
    }
    .labelManage{
       
      color: var(--color-secondary);
      margin-left: 298%;
    }
    .labelNotes{
     
      color: var(--color-secondary);
      margin-left: 103%;
    }
    .labelTeam{
      
     
      color: var(--color-secondary);
      
    }
    .labelln{
      
    
      color: var(--color-secondary);
      
    }
    .labelei{
      margin-left: 50%;
      
      color: var(--color-secondary);
      
    }
    .input {
      flex: 1;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-right: 10px;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    }
    .inputDate {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-right: 10px;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    }
    .inputTitle {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-right: 30px;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
    }
    .inputCaveat1 {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
    }
    .inputCaveat2 {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      margin-left: 200px;
      
    }
    .inputopn {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
      
    }
    .inputln {
     width: 100% ;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px; 
     margin-right: 100%;
     
      
    }
    .inputmn {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
      
    }
    .inputei {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;

      
      
    }
    
    
    /* Radio Group (for Case Type) */
    .radioGroup {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
     
      
      
    }
    
    .radio {
      margin-left: 10px;
      appearance: none;
      border: 1px solid #ccc; 
    border-radius: 60%; 
    outline: none;
    width: 15px; 
    height: 15px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
   
   
      
    }
    .radio:checked {
      background-color: var(--color-primary);
      border: 1px solid var(--color-secondary);
     
   
      
    }
    
    .select {
      flex: 1;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
    }
    .selectClient {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
    }
    .selectTeam {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
    }
    .selectPa {
      width: 109%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      
    }
    .selectManage {
      width: 445%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      margin-left: 50%;
      
    }
    .selectCaseStatus {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
    }
    .selectCd {
      width: 45.5%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
    }
    /* Textarea */
    .textarea {
      width: 192%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      height: 100px;
      font-size: 16px;
    }
    .textareaNotes {
      width: 220%;
      padding: 5px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 4px 0px var(--color-Third);
      border-radius: 4px;
      font-size: 16px;
      height: 100px;
      margin-left: 100%;
    }
    
    
    .error {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
    
   
    .submitButton {
      background-color: var(--color-primary);
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      margin-top: 10px;
      box-shadow: inset 0px 0px 6px 0px ;
    }
    .submitButton:hover {
      background-color: var(--color-fourth); 
      color: var(--color-primary);
      transform: scale(1.05); 
      box-shadow: inset 0px 0px 6px 0px var(--color-primary);
    }
    
   
    .heading {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 50px;
      color: var(--color-primary);
    }
    
    
    .link{
      color: var(--color-primary);
      
    }
    .link:hover {
      text-decoration: underline;
    }
    .linkTeam{
      
      color: var(--color-primary);
      
  
      
    }
    .linkTeam:hover {
      text-decoration: underline;
    }
    .linkClient{
      color: var(--color-primary);
      
    }
    .linkClient:hover {
      text-decoration: underline;
    }
    .row1 {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;  
      
    }
        

    }