.aboutSectionImg img{
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    margin: 1rem;
    transition: var(--transition);
}

.aboutSectionImg img:hover{
    transform: skew(0);
}

.visionSectionImg img{
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    margin: 1rem;
    transition: var(--transition);
}

.visionSectionImg img:hover{
    transform: skew(-15deg);
}

.missionSectionImg img{
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    margin: 1rem;
    transition: var(--transition);
}

.missionSectionImg img:hover{
    transform: skew(0);
}

.aboutSectionContent h1{
    margin-bottom: 2rem;
}
.aboutSectionContent p{
    margin-bottom: 1rem;
}

.aboutStoryContainer, .missionStoryContainer{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}
.aboutStoryContainer img, .missionStoryContainer img{
    width: 100%;
    height: 110%;
}

.visionStoryContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1rem;
}
.visionStoryContainer img{
    width: 90%;
    height: 110%;
}




@media screen and  (max-width:1024px) {
    .aboutSectionImg, .missionSectionImg{
        width: 50%;
        /* height: 10%; */
    }
    .visionSectionImg{
        width: 70%;
    }
    .aboutSectionContent h1{
        margin-bottom: 2rem;
    }
    .aboutSectionContent p{      
        margin-bottom: 0.9rem;  
        width: 100%;
    }

    .aboutStoryContainer,
    .visionStoryContainer,
    .missionStoryContainer
    {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .visionStory .visionSectionImg{
        grid-row: 1;
    }
}

@media screen and  (max-width:650px){
    
    .aboutSectionImg,.missionSectionImg{
        width: 80%;
    }
    .visionSectionImg{
        width: 100%;
    }

    .aboutStoryContainer p,
    .visionStoryContainer p,
    .missionStoryContainer p
    {
        gap: 4rem;
        margin-left: 2rem;
    }


}